<h1>Welcome#about</h1>
<%= link_to  "https://www.github.com/tr1vector", class: "social-btn" do   %>
<i class="fa fa-github fa-3x" aria-hidden="true"></i>
<% end %>
<p>Find me in app/views/welcome/about.html.erb</p>
